.header{
 display: flex;   
 justify-content: space-between;
 margin: 10px 0;
}


.headerMenu a{
    display: inline-block;
    margin-top: 0 10px;
    text-decoration: none;
    color: #f5f4f0;
    font-size: 12px;
    letter-spacing: 1px;
}

.headerMenu a:hover{
    color: #ababa8;

}